#contactpage{
    min-height: calc(100vh-3rem);
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.contactPageTitle{
    font-size: 2.5rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
    padding: 0.4rem;
}

.name, .email, .message{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.message{
    font-size: 1rem;
}

.submitBtn{
    background: white;
    color: black;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.75rem 3.5rem;
    font-size: medium;
    font-weight: 700;
}

.submitBtn:hover{
    background: transparent;
    color: #fff;
    border: 2px solid white;
    transition: 0.2s;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    object-fit: cover;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 1rem;
    cursor: pointer;
}

@media (max-width: 780px) {
    .contactForm{
        width: 90vw;
        margin-left: 1.75rem;
    }
    
}

@media (max-width: 480px) {
    .contactForm{
        width: 80vw;
        margin-left: 3rem;
    }

    .contactDesc{
        font-size: 0.8rem;
    }

    .link{
        height: 2.5rem;
        width: 2.5rem;
    }
}

