#intro {
    height: calc(100Vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: -1;
    object-fit: fill;
    margin-right: 30px;
    margin-top: 10px;
    height: 80vh;
    width: 35vw;
    border-radius: 50%;
    overflow: hidden;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Hello{
    font-size: 1.75rem;
    font-weight: 600;
}

.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 400;
    letter-spacing: 2px;
}

.btn{
    background: white;
    color: black;
    margin: 1rem 0;
    padding: 0.75rem 2rem; 
    border: none;
    border-radius: 2rem;
}


.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
    margin-right: 7px;
}

.btn:hover{
    background: rgba(114, 109, 109, 0.562);
    color: #fff;
    border: 2px solid white;
    transition: ease;
}


@media (max-width: 780px) {
    .bg{
        right: -5vw;
        width: 70vw;
    }

    .introContent{
        font-size: 7vw;
    }

    .Hello{
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    
    .bg{
        right: -0vw;
        left: 3vw;
        top: 50px;
        height: 65vh;
        width: 100vw;
    }

    .introContent{
        margin-top: 2.5rem;
        font-size: 7vw;
    }
    .Hello{
        font-size: 5vw;
    }

    .introPara{
        font-size: 3vw;
    }

    .btn{
        font-size: 3.5vw;
        height: 50px;
    }

    .btnImg{
        height: 1rem;
    }
}